[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
databases = {extras = ["postgresql"], version = "*"}
asyncpg = "*"
fastapi-jwt-auth = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
aioredis = "*"
broadcaster = {extras = ["redis"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
